<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Smart Examination System</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<header class="navbar">
    <div class="logo">SmartExams</div>
    <nav>
        <a th:href="@{/register}">Register</a>
        <a th:href="@{/login}">Login</a>
    </nav>
</header>

<section class="hero">
    <div class="hero-left">
        <h1>Smart Examination System</h1>
        <p>Conduct exams easily, securely, and smartly with <span>AI-based evaluation</span> and instant results.</p>
        <div class="hero-buttons">
            <a th:href="@{/register}"><button class="btn btn-primary">Register</button></a>
            <a th:href="@{/login}"><button class="btn btn-outline">Login</button></a>
        </div>
    </div>
    <div class="hero-right">
    <img src="/images/Home.png" alt="Exam Illustration" class="hero-image">
</div>

</section>

</body>
</html>
