<!DOCTYPE html>
<html>
<head>
    <title>Manage Exams</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>

<div class="dashboard-container">
    <h2>Manage Exams</h2>

    <div class="card-container">
        <div class="card">
            <h3>Create Exam</h3>
            <p>Add new exam</p>
        </div>

        <div class="card">
            <h3>Add Questions</h3>
            <p>MCQs & descriptive</p>
        </div>

        <div class="card">
            <h3>View Exams</h3>
            <p>All created exams</p>
        </div>

        <div class="card">
            <h3>Delete Exam</h3>
            <p>Remove exam</p>
        </div>
    </div>

    <br>
    <a href="/admin/dashboard">⬅ Back to Dashboard</a>
</div>

</body>
</html>
