<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Profile</title>
    <link rel="stylesheet" th:href="@{/css/update-profile.css}">
</head>
<body>

<div class="update-container">

    <h2>Update Profile</h2>

    <form th:action="@{/student/profile/update}"
          th:object="${student}"
          method="post">

        <label>Name</label>
        <input type="text" th:value="${student.name}" readonly>

        <div>
		    <label>Mobile Number</label>
		    <input type="tel"
		           name="mobile"
		           th:value="${student.mobile}"
		           pattern="[0-9]{10}"
		           maxlength="10"
		           minlength="10"
		           required
		           placeholder="Enter 10-digit mobile number">
		</div>
		
		<script>
			document.querySelector('input[name="mobile"]').addEventListener('input', function () {
			    this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);
			});
		</script>
  
        <label>Address</label>
        <textarea th:field="*{address}" rows="4"></textarea>

        <!-- readonly -->
        <label>Roll Number</label>
        <input type="text" th:value="${student.rollNumber}" readonly>

        <label>Course</label>
        <input type="text" th:value="${student.course}" readonly>

        <label>Semester</label>
        <input type="text" th:value="${student.semester}" readonly>

        <div class="btn-group">
            <button type="submit" class="save-btn">
                Save Changes
            </button>

            <a href="/student/profile" class="cancel-btn">
                Cancel
            </a>
        </div>
    </form>

</div>

</body>
</html>